.heading-font {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.body-font, #main-cont-body, figcaption, .body-text, .prop-value-list, ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 8vh;
    margin: 17px 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: cadetblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

.nav-bar {
    border-bottom: solid lightgray 2px;
}

.nav-bar ul {
    text-align: center;
}

.nav-content {
    display: inline;
    padding: 10px;
}

.content {
    display: block;
}

footer {
    background-color: lightgray;
    font-size: 2vh;
    color: white;
    padding: 5px 5px;
    margin: 5px 0px;
}

.footer {
    margin: 0;
    font-size: 12px;
}

h2 {
    color: cadetblue;
    font-size: 4vh;
    margin: 24px 0px 0px 0px;
}

.main-container {
    background-color: cadetblue;
    width: 100%;
    margin: 20px 0px;
    display: table;
}

.main-container > div {
    display: table-cell;
    vertical-align: middle;
}

#main-cont-img {
    width: 50%;
    text-align: center;
}

#main-cont-body {
    font-size: 18px;
    color: lightgray;
    margin: 10px 0px;
}

#main-cont-title {
    padding: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 4em;
}

.weekly-list {
    list-style-type: circle;
    padding: 0px 0px 0px 20px;
}

.weekly-content {
    height: 60vh;
}

h3 {
    color: lightgray;
    margin: 5px 0px 8px;
    font-size: 1em;
}

#homepage-img {
    margin: 0px 20px;
    border: lightgray solid;
    width: 97%;
}

figcaption {
    font-size: 12px;
    margin: 0px 20px;
}

.body-text {
    margin: 0px 60px;
}

.prop-value-list {
    font-size: inherit;
    margin: 0px 100px;
}

.prop-value {
    color: cadetblue;
}

.code {
    margin: 20px 100px;
}

.body-container {
    height: 50%;
    margin: 0px 0px 50px 0px;
}


